<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>728047800431-70t5gvq79o7ka7hsv8haj46n8rkvh1f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728047800431-70t5gvq79o7ka7hsv8haj46n8rkvh1f4</string>
	<key>API_KEY</key>
	<string>AIzaSyDlTfNqZoyTdDS_Whcim98qb-n1N_k6gdE</string>
	<key>GCM_SENDER_ID</key>
	<string>728047800431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FranklinDev.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-4a988</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-4a988.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:728047800431:ios:12e4b9bb2912bd2e</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-4a988.firebaseio.com</string>
</dict>
</plist>